@media only screen and (max-width: 1440px) {
  #thelist {
    height: 400px !important;
    width: 80% !important;
  }
}
@media only screen and (max-width: 768px) {
  .NavBar-BackGround {
    flex-direction: column;
  }

  .NavBar-BackGround .nav-links {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .NavBar-BackGround .logo {
    order: -1;
    width: 100%;
  }

  .NavBar-BackGround .actions {
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .NavBar-BackGround .nav-links {
    width: 40%;
  }

  .NavBar-BackGround .logo {
    width: 20%;
    text-align: center;
  }

  .NavBar-BackGround .actions {
    width: 40%;
  }
}

@media only screen and (min-width: 1025px) {
  .NavBar-BackGround {
    gap: 1%;
  }

  .NavBar-BackGround .nav-links {
    width: 30%;
  }

  .NavBar-BackGround .logo {
    width: 20%;
    text-align: center;
  }

  .NavBar-BackGround .actions {
    width: 30%;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .Card {
    width: 45%;
    margin: 5px;
  }
  .Card a {
    font-size: 20px;
  }
  .Card h1 {
    font-size: 18px;
  }
  .card-title {
    font-size: 22px !important;
    text-align: center !important;
  }
  .card-text {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .Card {
    width: 45%;
    margin: 5px;
  }
  .Card a {
    font-size: 22px;
  }
  .Card h1 {
    font-size: 22px;
  }
  .platcardtext a {
    font-size: 25px !important;
  }
  .card-title {
    font-size: 23px !important;
    text-align: center !important;
  }
  .div2ligne {
    flex-direction: column;
  }
  .Card-dashboard {
    font-size: 29px !important;
  }
  .button {
    position: relative;
    top: 50%;
    width: 69px;
    height: 31px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  #button-3 .knobs {
    width: 24px !important;
    height: 24px !important;
  }
  #button-3 {
    margin-top: 10px;
  }
  .divtextmta3lesproduit {
    font-size: 18px !important;
  }
  .divtextmta3lesproduit2 {
    font-size: 18px !important;
  }
  .textmt3lesproduit {
    width: auto !important;
  }

  .listedesachats {
    font-size: 25px !important;
  }

  .divMta3lesProduit {
    width: auto !important;
    display: flex !important;
    justify-content: space-between !important;
  }
  #cargap {
    gap: 1% !important;
  }
  #thelist {
    height: 300px !important;
    width: 80% !important;
  }
  #eyeicon {
    margin-top: 15px !important;
  }
  #dollaricon {
    margin-top: 15px !important;
  }
}

@media only screen and (max-width: 435px) {
  .Card h1 {
    font-size: 18px;
  }
  .Card a {
    font-size: 14px;
  }
  .historycards {
    width: 100% !important;
    flex-wrap: wrap !important;
  }
  .Accordionh {
    font: size 12px !important;
  }
}

@media (max-width: 768px) {
  .listedesachats {
    font-size: 40px !important;
  }
  .logoutImpr {
    margin-right: 73px;
  }
  #cargap {
    gap: 1% !important;
  }
  #thelist {
    height: 300px !important;
    width: 80% !important;
  }
}

@media (max-width: 435px) {
  .divtextmta3lesproduit {
    font-size: 15px !important;
  }
  .divtextmta3lesproduit2 {
    font-size: 15px !important;
  }
  .textmt3lesproduit {
    width: auto !important;
  }

  .listedesachats {
    font-size: 22px !important;
  }
  .logoutImpr {
    margin-right: 50px !important;
  }
  .divMta3lesProduit {
    width: auto !important;
    display: flex !important;
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 435px) {
  .mrabet-logo {
    margin-right: 37px;
  }
  .inputgrouphistory {
    width: 200px !important;
  }
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
  .navbar-message h1 {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .card-container {
    width: 100%;
  }
  .card-title {
    font-size: 22px !important;
    text-align: center !important;
  }

  .card-title h3 {
    font-size: 17px !important;
  }
  .card-title2 {
    font-size: 17px !important;
  }
  .userlist p {
    font-size: 15px !important;
  }
  .userlist h6 {
    font-size: 12px !important;
  }
  .card-text {
    font-size: 20px !important;
  }
  .card {
    width: 40% !important;
    margin-bottom: 20px;
  }

  #modalTpe {
    margin-top: 1px !important;
  }
  #ticketcaissemodal {
    margin-top: 1px !important;
  }
  #cargap {
    gap: 1% !important;
  }
  .caisseEventHistory {
    margin: auto !important;
  }
  .modal-body {
    padding: 10px !important;
  }
  #num-modal {
    width: 88% !important;
    margin-left: 62px !important;
  }
  #montant-modal {
    width: 100% !important;
  }
  #modal-caisse-btn {
    margin-left: 76% !important;
  }
  .tpe-row {
    margin-top: -80px !important;
  }
  #liste-des-achats {
    width: 400% !important;
    margin-left: 2% !important;
  }
  .achatliste {
    width: 100% !important;
  }
  #carousel {
    margin-left: 28% !important;
  }
  #thelist {
    height: 300px !important;
    width: 80% !important;
  }

  #historyListAchat {
    height: 500px !important;
    width: 80% !important;
  }
}
@media screen and (max-width: 435px) {
  .Cardlogin {
    width: 90% !important;
    margin-top: 100px !important;
  }

  .Cardlogin .Card.Title {
    font-size: 2rem !important;
  }

  .Cardlogin .Form.Label {
    font-size: 20px !important;
  }

  .Cardlogin .Form.Control {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .BTN-LOGIN {
    width: 120px !important;
  }
  .BTN-LOGIN h5 {
    font-size: 15px !important;
  }
  .greeting {
    height: auto !important;
    width: auto !important;
  }
  .dashcardtitle {
    font-size: 18px !important;
  }
  .dashboard-Card {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 300px !important;
    justify-items: center;
  }
  .dashbtn {
    font-size: 14px;
    margin: auto;
  }
  .div2ligne {
    display: block;
  }
  .card-title {
    font-size: 18px !important;
  }
  .userspersonel p {
    font-size: 17px !important;
  }

  .Card-dashboard {
    height: 210px !important;
  }
  #dollaricon {
    width: 1% !important;
  }

  #eyeicon {
    width: 1% !important;
  }
  .personal-list {
    width: auto !important;
  }
  .soldeconge {
    font-size: 16px !important;
  }
  .logos {
    display: block !important;
  }

  .secondligne {
    margin-left: 15% !important;
  }

  #addproduct {
    font-size: 70% !important;
    margin-bottom: 20px !important;
  }
  #btnajouter {
    margin-left: 75% !important;
  }
  .button {
    position: relative;
    top: 50%;
    width: 69px;
    height: 31px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  #button-3 .knobs {
    width: 13px !important;
    height: 13px !important;
  }
  #button-3 {
    margin-top: 10px !important;
  }

  #buttonlogin {
    margin: left 10px !important;
  }
  .historybackgrond {
    width: 233px !important;
  }
  .visualiser-title {
    font-size: 44px !important;
  }
  #totalRecetteValue {
    margin-top: 25px !important;
    font-size: 29px !important;
  }
}
@media screen and (max-width: 768px) {
  .greeting {
    height: auto !important;
    width: auto !important;
  }
  .dashcardtitle {
    font-size: 18px !important;
  }
  .dashboard-Card {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 300px !important;
    justify-items: center;
  }
  .dashbtn {
    font-size: 14px;
    margin: auto;
  }
  .div2ligne {
    display: block;
  }
  .card-title {
    font-size: 18px !important;
  }
  .userspersonel p {
    font-size: 17px !important;
  }

  .Card-dashboard {
    height: 210px !important;
  }
  .personal-list {
    width: auto !important;
  }
  .soldeconge p {
    font-size: 16px !important;
  }
  .logos {
    display: block !important;
  }
  .secondligne {
    margin-left: 15% !important;
  }
  .button {
    position: relative;
    top: 50%;
    width: 69px;
    height: 31px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }

  #button-3 {
    margin-top: 10px;
  }
  .logos {
    display: block !important;
    margin-left: 63px !important;
    font-size: 1;
  }
  #eyeicon {
    width: 1% !important;
  }
  #dollaricon {
    width: 1% !important;
  }
}
@media only screen and (max-width: 768px) {
  .Cardlogin {
    width: 90%;
    margin-top: 100px;
  }

  .Cardlogin .Card.Title {
    font-size: 2rem;
  }

  .Cardlogin .Form.Label {
    font-size: 20px;
  }

  .Cardlogin .Form.Control {
    width: 100%;
    margin-right: 0;
  }
  #buttonlogin {
    font-size: 12px !important;
    margin-left: 65% !important;
  }
}
@media only screen and (max-width: 768px) {
  .Accordion.Header {
    font-size: 11px !important;
  }
  @media only screen and (max-width: 435px) {
  }
}
